<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website">
    <meta property="og:title" content="IETF Git and GitHub Tutorial">
    <meta property="og:description" content="IETF Git and GitHub Tutorial">
    <meta property="og:url" content="https://ietf-gitwg.github.io/">
    <meta property="og:image" content="asset/badge-sq.png">
  </head>
  <body>
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>
